<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <title>Video Player</title>
</head>

<style>
  video {
    width: 100%;
  }

  ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .file-details {
    padding: 12px;
    border: 2px solid teal;
    margin: 20px 0;
  }

  span {
    display: flex;
    gap: 12px;
    padding: 8px;
  }
</style>

<body>
  <div id="app">
    <video :src="videoUrl" controls autoplay></video>
    <hr />
    <input v-model="searchTerm" placeholder="Поиск фильма" type="search" />
    <button @click="findMovie">Найти</button>
    <hr />
    <ul>
      <li v-for="file in files" :key="file.magnet">
        <div v-if="file.title !== 'Не найдено'" class="file-details">
          <span class="film-author">
            <strong>Автор:</strong>
            {{ file.author }}
          </span>
          <span class="film-title">
            <strong>Название:</strong>
            {{ file.title }}
          </span>
          <span class="film-category">
            <strong>Категория:</strong>
            {{ file.category }}
          </span>
          <!-- <span class="film-size">
            <strong>Размер файла:</strong>
            {{ file.size.replace('↓', '') }}
          </span> -->
          <span class="film-quality">
            <strong>Качество видео:</strong>
            {{ file.quality }}
          </span>
          <span class="film-format">
            <strong>Формат видео:</strong>
            {{ file.format }}
          </span>
          <span class="film-audio">
            <strong>Формат аудио:</strong>
            {{ file.audio }}
          </span>
          <span class="film-seeds">
            <strong>Сиды:</strong>
            {{ file.seeds }}
          </span>
          <span class="film-peers">
            <strong>Пиры:</strong>
            {{ file.peers }}
          </span>
          <button @click="play(file)">Воспроизвести</button>
        </div>
        <div v-else class="file-details">
          Ничего не найдено
        </div>
      </li>
    </ul>
  </div>
</body>
<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        searchTerm: '',
        activeVideo: {},
        files: []
      }
    },
    async mounted() {
      this.getMyMovies();
    },
    computed: {
      videoUrl: ({ activeVideo }) => {
        return activeVideo.fileName ? `/stream/${activeVideo.magnetLink}/${activeVideo.fileName}` : ''
      }
    },
    methods: {
      async play2(file) {
        const { data } = await axios.get(`/stream/add/${file.magnet}`)

        this.activeVideo = {
          magnet: file.magnet,
          fileName: data[0].name
        }
      },
      async play(file) {
        const { data } = await axios.get(`/stream/add/${file.magnetLink}`)

        this.activeVideo = {
          magnetLink: file.magnetLink,
          fileName: data[0].name
        }
      },
      async findMovie() {
        const response = await axios.get(`/movies/search?nm=${this.searchTerm}`);
        this.files = response.data;
      },
      async getMyMovies() {
        const response = await axios.get(`/movies`);
        this.files = response.data;
      }
    }
  }).mount('#app')
</script>

</html>
