//? Брейк-поинты
$xl: 1920px; // Desktop and higher 1560
$lg: 1860.5px; // Wide desktops
$md: 1659.5; // Laptops 912
$sm: 1199.5px; // Tablets
$xs: 991.5px; // Mobile devices
$xxs: 767.5px; // Min template device width
$xes: 320px; // Min template device width
