<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <title>Video Player</title>
</head>
<style>
  video {
    width: 100%;
  }
</style>

<body>
  <div id="app">
    <video :src="videoUrl" controls autoplay></video>
    <hr />
    <ul>
      <li v-for="file in files" :key="file.magnet">
        {{ file.title }}
        <button @click="play(file)">Play</button>
      </li>
    </ul>
  </div>
</body>
<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        activeVideo: {},
        files: [
          {
            magnet: '1A8EF810EAC6CF738FA242FF1B3531BBD3460919',
            title: 'Bad.Boys.Ride.or.Die.2024.TS.Rus.Dub.2.0.mkv',
          }
        ]
      }
    },
    computed: {
      videoUrl: ({ activeVideo }) => {
        return activeVideo.fileName ? `/stream/${activeVideo.magnet}/${activeVideo.fileName}` : ''
      }
    },
    methods: {
      async play(file) {
        const { data } = await axios.get(`/stream/add/${file.magnet}`)

        this.activeVideo = {
          magnet: file.magnet,
          fileName: data[0].name
        }
      },
    }
  }).mount('#app')
</script>

</html>
